body {
  margin: 0 ;
  height: 100vh;
  
}


main {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #171717;
  background-image: url("MCImgs/background.jpg");
}

#gameboard {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    padding: 0;
    grid-auto-rows: minmax(100px, auto);
}

nav {
  background-color: #444444;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #EDEDED;
}

button {
  background-color: #DA0037;
  color: #EDEDED;
  height: 37px;
  margin-top: 20px;
}

.card {
  margin-bottom: 10px;
  position: relative;
  width: 8rem;
  height: 10.5rem;
  perspective: 30rem;
  box-shadow: 2px 2px whitesmoke;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  backface-visibility: hidden;
}
.front {
}
.back {
  transform: rotateY(180deg);
}

/* need event listener to flip on 'click' */
/* .card:hover .front{ transform: rotateY(180deg); }
  .card:hover .back { transform: rotateY(360deg); } */
.flipped .front {
  transform: rotateY(180deg);
}
.flipped .back {
  transform: rotateY(360deg);
}
