* {
  font-family: "Creepster";
  color: white;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

div.header-buttons {
  display: none;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  background-image: url("MCImgs/background.jpg");
}

#gameboard {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  padding: 0;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

nav {
  background-color: black;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

h1 {
  color: #ededed;
}

h3 {
  padding-right: 3.5em;
}

button {
  background-color: rgb(134, 27, 27);
  color: #ededed;
  height: 37px;
  margin-top: 20px;
}

.card {
  margin-bottom: 10px;
  position: relative;
  width: 8rem;
  height: 10.5rem;
  perspective: 30rem;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  backface-visibility: hidden;
}
.front {
}
.back {
  transform: rotateY(180deg);
}

/* need event listener to flip on 'click' */
/* .card:hover .front{ transform: rotateY(180deg); }
  .card:hover .back { transform: rotateY(360deg); } */
.flipped .front {
  transform: rotateY(180deg);
}
.flipped .back {
  transform: rotateY(360deg);
}

div.menu {
  height: 35%;
  width: 45%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 28%;
}

button.level {
  width: 50%;
  padding: 1%;
  background-color: rgb(134, 27, 27);
}

@media screen and (min-width: 468px) {
  div.menu {
    width: 35%;
    margin-bottom: 12%;
  }

  button.level {
    width: 10vw;
  }
}
